@font-face {
	font-family: 'THSarabunNew';
    src: url('../fonts/THSarabunNew/THSarabunNew.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'THSarabunNewBold';
    src: url('../fonts/THSarabunNew/THSarabunNew_Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'THSarabunNewItalic';
    src: url('../fonts/THSarabunNew/THSarabunNew_Italic.ttf');
	font-weight: normal;
	font-style: normal;
}
/* icomoon config =========== */
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?l9kr27');
    src:    url('../fonts/icomoon.eot?l9kr27#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?l9kr27') format('truetype'),
        url('../fonts/icomoon.woff?l9kr27') format('woff'),
        url('../fonts/icomoon.svg?l9kr27#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding: 0px 0px;
    vertical-align: sub;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-blood-bag:before {
    content: "\e900";
}
/* icomoon config =========== */
html {
    overflow:hidden;
}
body {
    font-family: THSarabunNew; 
    font-size: 20px;
    color: #595959;/*89,89,89*/
}
span {
    padding: 1px 5px;
    display: inline-block;
}
span.glyphicon {
    padding: 1px 0;
    vertical-align: sub;
}
.form-control {
    font-family: THSarabunNew !important; 
    font-size: 20px !important;
    height: 30px;
    padding: 0px 5px;
    color: #595959;/*89,89,89*/
}
.required {
    background-color:#fff5f5 !important;
}
.color-127 {
    color: #7F7F7F;/*127,127,127*/
}
.color-yellow {
    background-color:#FAFDD7;
}
.blue {
    color:#4F7CCB;
}
.btn {
    font-size: 20px !important; /* 1 */
    padding: 0px 5px;
    color: #595959;/*89,89,89*/
    border: solid 1px #7F7F7F;
    box-shadow: 1px 3px 3px #ccd1d9;
}
.btn:hover{
    border: solid 1px #7F7F7F;
}
.btn.btn-icon {
    border: 0;
    background: transparent;
    color: #3BAFDA;
    box-shadow: none;
}
.btn.btn-icon:hover, .btn.btn-icon:focus {
    color: #4FC1E9;
}
.btn.btn-icon > i {
    vertical-align: sub;
}
.shadow-box {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
    box-shadow: 0 0 8px rgba(0,0,0,.6);
}
.claret-page-header {
    font-size: larger;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
a {
    cursor:pointer;
}
.selecter .selecter-selected {
    padding: 0px 20px 0px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.selecter .selecter-item {
    padding: 0px 5px;
}
.border-box {
    background: #FFFFFF;
    border: solid 1px #CCCCCC;
    float: left;
    width: 100%;
    padding: 5px 5px;
}
.col-shift-left {
    padding-left: 0px;
}
.col-shift-right {
    padding-right: 0px;
}
.row.outpadding {
    margin-right: 0;
    margin-left: 0;
}
.noti {
    position:absolute; 
    left:500px; 
    top:48px; 
    z-index:100;
    padding: 5px 30px;
    border-radius: 4px;
    border: solid 2px #808080;
    background-color:#FFFFFF; 
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.6);
    box-shadow: 3px 3px 3px rgba(0,0,0,.6);
}
.noti-ok {
    border: solid 2px #8CC152;
    background-color: #8CC152;
    color: #FFF;
}
.noti-remove {
    border: solid 2px #E9573F;
    background-color: #E9573F;
    color: #FFF;
}
.noti-info {
    border: solid 2px #4A89DC;
    background-color: #4A89DC;
    color: #FFF;
}
.noti-question {
    border: solid 2px #EF8B2C;
    background-color: #EF8B2C;
    color: #FFF;
}
div.page span.glyphicon {
    padding: 1px 3px;
    font-size: large;
}
div.page > button {
    height: 25px; 
    vertical-align: sub; 
    font-size: 17px !important; 
    border: 0; 
    background-color: transparent;
}
div.page > input {
    width: 35px; 
    height: 20px; 
    text-align: center; 
    margin: 0px 3px;
}
div.page > button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
table.table > thead > tr > th > button {
    font-family: THSarabunNew;
    font-size:20px;
    height: 25px; 
    vertical-align: sub; 
    border: 0; 
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
table.table > thead > tr > th > button > i {
    vertical-align: middle;
    padding-left: 5px;
    font-size: 15px;
}
table.table-bordered-excel > thead > tr > th > button {
    font-size:18px;
}
table.table-bordered-excel > thead > tr > th > button > i {
    font-size: 8px;
}
.custom-combobox .custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    background: #ffffff;
    border: 1px solid #aab2bd;
    height: 30px;
    width: 34px;
}
.custom-combobox .custom-combobox-input {
    margin: 0;
    font-family: THSarabunNew;
    padding: 0px 0px 0px 5px;
    font-weight: normal;
    color: #333333;
    background: white;
    border-color: #aab2bd;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.custom-combobox .custom-combobox-input.required {
    background: #fff5f5 !important;
}
.ui-menu .ui-menu-item {
    font-family: THSarabunNew;
    padding: 0px 0px 0px 5px;
}
.ui-menu-item.ui-state-focus {
    padding: 0px 0px 0px 5px;
    font-weight: normal;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: 0px;
    border:0;
    background:#A9B1BB;
    color: white;
}
.ui-autocomplete {
    max-height: 280px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/*Adjust jquery ui tab*/
.ui-datepicker {
    font-size:12px;
    font-family: Arial,sans-serif !important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: #595959;
    font-weight: normal;
}
    .ui-datepicker select.ui-datepicker-year {
        height:19px;
        vertical-align:top;
    }
    .ui-datepicker td span, .ui-datepicker td a {
        padding: .2em .2em .2em .6em;
    }
.ui-tabs {
    padding: 0;
    border: 0;
    background: transparent;
}
    .ui-tabs .ui-tabs-nav li {
        border-bottom-width: 1px;
    }
    .ui-tabs > div {
        padding: 0 !important;
    }
    .ui-tabs > ul {
        background: none;
        border-color: #CDD5DA;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
        .ui-tabs > ul > li > a {
            color: #595959 !important;
            padding: 0px 25px !important;
            font-weight: normal;
        }
    .ui-tabs > .ui-tabs-panel > .border-box {
        border-top: 0;
        margin-top: 0px;
        background-color: #F2F2F2;
    }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #d8dcdf;
    border-left: 1px solid #d8dcdf;
    border-right: 1px solid #d8dcdf;
}
.ui-widget-content {
    font-family: THSarabunNew;
}
.ui-widget input, .ui-widget select {
    font-family: THSarabunNew; 
    font-size: 20px;
}
.table {
    margin-bottom: 0px;
}
.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td {
    padding:0 5px;
    /*border-bottom: 1px solid #ddd;
    border-top: 0;*/
}
.table > thead > tr > th {
    padding:0px;
    border-bottom: 2px solid #ddd;
    border-top: 0;
}
.table > tfoot > tr > td {
    padding:0 5px;
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.table.table-bordered > thead > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > thead:first-child > tr:first-child {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    
}
.table.table-bordered > tfoot > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > tfoot:first-child > tr:first-child {
    border-left: 1px solid transparent;
    border-top: 2px solid #ddd;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    
}

.selecte-box-custom {
    width:100%;
    height: 30px;
    border-radius: 3px;
    font-size: 20px;
}

.selecte-box-custom > option {
    background-color:#FFFFFF;
}